.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
}

.hero--left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero--left h1 {
  font-size: 10rem;
}

.bio {
  width: 90%;
}

.hero--right {
  overflow: hidden;
}

.hero--right img {
  width: 100%;
  display: block;
}
