@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

:root {
  --color-light: #fafafa;
  --color-dark: #1e1e1e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: var(--color-dark);
  border-radius: 10px;
}

::selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Marcellus", serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3;
  background-color: var(--color-light);
  color: var(--color-dark);
  overflow-x: hidden;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20rem 0;
}

.btn {
  align-self: flex-start;
  text-transform: uppercase;
  color: var(--color-light);
  background: linear-gradient(-45deg, transparent 5%, var(--color-dark) 5%);
  padding: 1rem 3rem;
  margin: 2rem 0;
}

.section--title {
  margin-bottom: 10rem;
}
