@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #fbae4e;
  --color-light: #fcfaf1;
  --color-dark: #1e2227;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: var(--color-dark);
  border-radius: 10px;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  background-color: var(--color-light);
  color: var(--color-dark);
  overflow-x: hidden;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
  padding: 10rem 0;
}

.btn {
  align-self: flex-start;
  text-transform: uppercase;
  color: var(--color-light);
  background: linear-gradient(-45deg, transparent 5%, var(--color-dark) 5%);
  padding: 1rem 3rem;
  margin: 2rem 0;
}

.section--title {
  margin-bottom: 5rem;
  text-transform: uppercase;
}

footer {
  text-align: center;
  font-size: 2rem;
}
