.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-black-alt);
}

.project--img {
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.project--img img {
  width: 100%;
  display: block;
}

.project--texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 2rem 2rem;
  overflow: hidden;
}

.project--title {
  font-size: 2.5rem;
  height: 7rem;
}

.project--details {
  height: 15rem;
  overflow: hidden;
  font-size: 1.7rem;
  text-align: justify;
}

.project--tools {
  font-size: 2rem;
  height: 6rem;
}

.project--links {
  display: flex;
  justify-content: space-between;
}

.project--links .btn {
  font-size: 1.7rem;
}
